# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0
#
# Reference manifest. Recommended approach is `kubectl create secret`:
#
#   kubectl create secret generic hf-token \
#     --namespace=${NAMESPACE} \
#     --from-literal=token=${HF_TOKEN}
#
# Use this manifest only with sealed-secret / external-secret-operator.
---
apiVersion: v1
kind: Secret
metadata:
  name: hf-token
  namespace: ${NAMESPACE}
type: Opaque
stringData:
  token: REPLACE_WITH_HF_TOKEN
